.App {
  /* text-align: center; */
}

body {
   background: #fcd7d3 url('/images/coconut-dawn-daylight-large.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

nav {
  width: 100%;
  background-color: #17566d;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 12rem;
  margin-left: 12rem;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  margin-right: 2rem;
}

#logo-name {
  float: left;
  display: flex;
  align-items: baseline;
  margin: 2rem;
  color: #47bfe0;
}

#user-name {
  float: right;
  display: inline;
}
.App-header {
  top: 2rem;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 4rem;
}

.header-text {
  display: flex;
}

.header-user {
  align-items: baseline;
  float: right;
}

.header-user Button {
  margin-left: 2rem;
}

@media only screen and (max-width: 840px) {
  nav ul {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media only screen and (max-width: 740px) {
  nav ul {
    margin: 0 auto;
    overflow: visible;
    flex-direction: column;
  }

  #logo-name {
    margin: 0 auto;
    justify-content: center;
  }

  #user-name {
    margin: 0 auto 2rem;
    justify-content: center;
  }

  div.header-user {
    margin: 0 auto;
  }
}

.show-grid {
  background-color: rgba(234, 150, 164, 0.8);
}



/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
